---
import { Icon } from 'free-astro-components'
---

<footer class=" bg-test py-8 lg:py-12">
  <div class="container py-8 lg:py-12">
    <div
      class="flex flex-col gap-8 lg:items-center"
    >
      <div class="flex flex-col gap-8">
        <p class="text-neutral-500">
          A Collection of <strong>Free Astro Components❤️</strong>
        </p>
      </div>
    </div>
  </div>
</footer>
