---
import { Icon, ThemeSwitch } from 'free-astro-components'
import Hamburguer from './Hamburguer.astro'
import Androidic from './Androidic.astro'
---

<header
  class="fixed inset-x-0 top-0 bg-neutral-100/60 text-neutral-900 py-4 border-b border-neutral-300/50 backdrop-blur-md z-20"
>
  <div class="container flex justify-between items-center gap-8">
    <a
      class="flex items-center gap-5 text-primary hover:text-secondary text-4xl font-bold leading-none transition duration-300 ease-in-out"
      href="/"
      aria-label="Free Astro components"
    >
    <Androidic width="38px" height="38px" fill="currentColor" />
    <h2 class="text-primary hover:text-secondary text-4xl lg:text-2xl leading-none transition duration-300 ease-in-out">
      Android Library
    </h2>
    </a>

    <nav>
      <ul class="flex items-center gap-8">
        <li>
          <a
            class="text-sm hover:text-primary transition duration-300 ease-in-out"
            href="/guide/installation">Documentation</a
          >
        </li>
        <li class="hidden lg:block">
          <a
            class="text-sm hover:text-primary transition duration-300 ease-in-out"
            href="/components/button">Components</a
          >
        </li>
        <li>
          <ThemeSwitch />
        </li>
        <li class="lg:hidden">
          <Hamburguer />
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  import { DOMLoaded } from '../ts/utils'

  DOMLoaded(() => {
    const body = document.querySelector('body') as HTMLElement
    const hamburguer = document.querySelector(
      '[data-hamburguer]'
    ) as HTMLButtonElement
    const nav = document.querySelector('[data-nav]') as HTMLElement

    hamburguer.addEventListener('click', () => {
      hamburguer.toggleAttribute('open')
      nav.toggleAttribute('open')
      body.classList.toggle('overflow-hidden')
    })
  })
</script>
