<div
  class="absolute dark:opacity-20 inset-0 -z-10 h-full w-full
   bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
>
</div>
<div
  class="absolute invert dark:invert-0 animate-color transition-all -z-20 h-full w-full 
  bg-transparent [background:var(--theme-gradient)]"
>
</div>
